# Node
node_modules/
dist/
.vite/
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs/editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dotnet
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build artifacts
*.dll
*.exe
*.pdb

# ASP.NET secrets
secrets.json

# Others
package-lock.json
